.grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr, 2.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    width: 40rem;
    }

button {
    background: lightgray;
    border: 2px solid black; 
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.2s;
}

svg {
    width: 24px;
    height: 24px;
    stroke: black;
}

div.grid>div{
    display: flex;
    flex-direction: row;
    gap: 1rem;    
}